<nav class="sidebar-nav">
  <!-- <a routerLink="/dashboard" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }">Dashboard</a> -->
  <a routerLink="/dashboard/employees" routerLinkActive="active">Employees</a>
  <a routerLink="/dashboard/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/dashboard/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/dashboard/tasks" routerLinkActive="active">Tasks</a>
  <!-- <button type="button" class="nav-logout" (click)="logout()">Logout</button> -->
</nav>